@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


body{
  margin: 0;
  padding: 0;
  background: #FBFBFB;

}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;


}
a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}
img{
  max-width: 100%;
  display: block;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1200px;
  padding:25px;
  margin: 0 auto;
}


@media (max-width: 800px) {
  .container{
    padding:15px;
  }
}
